{% extends 'base_accounts.html' %}


{% block title %}
    Boards - Log In
{% endblock %}

{% block content %}
<div class="card ml-auto mr-auto mt-5" style="width: 25rem;height: auto; background : #94618E;">
    <div class="card-body">
        <h5 class="card-title mb-4" style="align : center; color: green; font-weight : bold;font-size : 30px;">Sign
            In</h5>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button class="btn btn-success">Sign In</button>
        </form>
        <div class="card-footer text-muted text-center">
            <span style="color: white;">Don't have an account? </span> <a href="{% url 'signup' %}">Sign Up here</a>
        </div>
    </div>
</div>
<div class="text-center py-2">
    <small>
        <a href="{% url 'password_reset' %}" class="text-muted"><span style="color : ;">Forgot your password?</span></a>
    </small>
</div>
{% endblock %}