{% extends 'base_accounts.html' %}


{% block title %}
    Boards - Reset Password
{% endblock %}

{% block content %}
<div class="card ml-auto mr-auto mt-5" style="width: 25rem;height: auto; background : #94618E;">
    <div class="card-body">
        <h5 class="card-title mb-4" style="align : center; color: green; font-weight : bold;font-size : 30px;">Reset Email Sent</h5>
        <p>Email containing password reset link is sent. Don't forget to check spam folder.</p>
        <a class="btn btn-success" href="{% url 'login' %}">Return to Login</a>
    </div>
</div>
{% endblock %}