{% extends 'base.html' %}


{% block title %}
    Boards - Change Password
{% endblock %}

{% block content %}
<div class="card ml-auto mr-auto mt-5" style="width: 25rem;height: auto; background : #94618E;">
    <div class="card-body">
        <h5 class="card-title mb-4" style="align : center; color: green; font-weight : bold;font-size : 30px;">Change Password</h5>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}