{% extends 'base_accounts.html' %}


{% block title %}
    Boards - Reset Password
{% endblock %}

{% block content %}
<div class="card ml-auto mr-auto mt-5" style="width: 25rem;height: auto; background : #94618E;">
    <div class="card-body">
        <h5 class="card-title mb-4" style="align : center; color: green; font-weight : bold;font-size : 30px;">Password Changed!</h5>
        <p role="alert">
            Password successfully changed. You can now login with the new password.
        </p>
        <a class="btn btn-success" href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock %}